*{margin: 0;padding: 0}

    body {
      background: red;
             margin: 0;
      padding: 0;
    }

    .swiper-container {
     width: 99vw;
      height: 99vh;
      margin: 0 auto;display: block;
      
      
    }
.swiper-slide .back{
  width: 99vw;
      height: 99vh;
}
    

.swiper-slide{
background-position: center;
      background-size: cover;

}



.swiper-slide:nth-child(1) .back{
background-image: url(https://res.cloudinary.com/greenprinty/image/upload/v1610866790/CUBE/bg_nrz5uv.jpg)
}
.swas{
  max-width: 107px;z-index: 999;margin: 0 auto;display: block;animation: skew 3s infinite;  transform: skew(20deg);  animation-direction: alternate;}
  .swas img{width: 100%;padding-top: 100px;}
#party{width: 300px;display: block;margin: 10px auto;}   
.back5{width: 99vw;height: 99vh;background-image: url(https://res.cloudinary.com/greenprinty/image/upload/v1610866790/CUBE/bg1_c2rcy0.jpg);background-size: cover;}

 #back5{display: flex; max-width: 1000px;height: 99vh;flex-direction: row;margin: 0 auto;justify-content: center;padding-top: 15%;}
#patra{width: 200px;height: 397px;animation: chang 3s linear infinite;animation-direction: alternate;}
@keyframes chang{
    0%{opacity: 0}
         50%{opacity: 0.4}
         80%{opacity: 1}
      
}
#patri{width: 200px;animation: chang 3s linear infinite;animation-direction: alternate}
.tainer{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
       .upper{height:150px;border-radius: 8px 8px 0px 0px;outline: none;background: url(https://res.cloudinary.com/greenprinty/image/upload/v1610866798/CUBE/fire_u0abvh.gif) }
    .img-upper{background: white;width: 80px;height: 80px;border-radius: 50%;padding: 5px;transform: translate(100px,100px)
    }
    .img-upper img{width: 80px;height: 80px;border-radius: 50%;}
    .lower{height:280px;border-radius: 0px 0px 8px 8px;background: url(https://res.cloudinary.com/greenprinty/image/upload/v1610866790/CUBE/bord_md1mwd.jpg);outline: none;padding: 20px;padding-top: 40px;
    text-align: center;overflow: hidden}
    .lower h3{box-sizing: border-box;line-height: .6;font-weight: bold;color: #D0003B;font-family: 'Kalpurush', sans-serif;
    background-color: white;border-radius: 25px;width: 160px;padding: 10px;display: block;margin: 15px auto}
    .lower p{font-size: 16px;color: #D0003B;margin-top: 20px;font-family: 'Kalpurush', sans-serif;}

    .tainer1{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
    .upper1{height:150px;border-radius: 8px 8px 0px 0px;outline: none;background: url(https://res.cloudinary.com/greenprinty/image/upload/v1610866798/CUBE/fire_u0abvh.gif) }
    .img-upper1{background: white;width: 80px;height: 80px;border-radius: 50%;padding: 5px;transform: translate(100px,100px)
    }
    .img-upper1 img{width: 80px;height: 80px;border-radius: 50%;}
    .lower1{height:280px;border-radius: 0px 0px 8px 8px;background: url(https://res.cloudinary.com/greenprinty/image/upload/v1610866791/CUBE/bord1_nubc5q.jpg);outline: none;padding: 20px;padding-top: 40px;
    text-align: center;}
    .lower1 h3{box-sizing: border-box;line-height: .6;font-weight: bold;margin-top: 10px;color: #FF2264;font-family: 'Kalpurush', sans-serif;
    background-color: white;border-radius: 25px;width: 200px;padding: 12px;display: block;margin: 15px auto}
    .lower1 p{font-size: 16px;color: #D0003B;margin-top: 20px;font-family: 'Kalpurush', sans-serif;}
    .backy{width: 99vw;height: 99vh;background-image: url(https://res.cloudinary.com/greenprinty/image/upload/v1610866791/CUBE/bg3_ihlfve.jpg);background-size: cover;}
 .proja{text-align: center;font-family: 'Kalpurush', sans-serif;font-size: 27px;width: 280px;padding: 2px;border-radius: 43px;
    border: none;display: block;margin: 0 auto;color: #FDC400;background: url(https://res.cloudinary.com/greenprinty/image/upload/v1610867419/CUBE/proj_wzryyl.gif);position: relative;top: 10px;}  
    #fontcss{margin-left: 10px;margin-top: 35px;margin-bottom: 20px;color: #8F0123;font-family: 'Kalpurush', sans-serif;font-size: 22px;}
    .bih{font-family: 'Kalpurush', sans-serif;text-align: justify;text-indent: 40px;margin-left: 10px;margin-right: 10px;
    margin-bottom: 60px;color: #8F0123;font-size: 22px;animation: skew 3s infinite;  transform: skew(20deg);  animation-direction: alternate;}
    @keyframes skew {
  0% {
    transform: skewX(2deg);
  }
  100% {
    transform: skewX(-2deg);
  }
}
    .quni{display: flex;max-width: 100%;justify-content: space-between}
    .quni img {max-width: 60%;}
    .nibe{text-align: right;margin-right: 10px;color: #8F0123;font-family: 'Kalpurush', sans-serif;font-size: 22px;max-width: 40%}
    .back2{width: 99vw;height: 99vh;background-image: url(https://res.cloudinary.com/greenprinty/image/upload/v1610866791/CUBE/bg4_ybt5gw.jpg);background-size: cover;}
    h2{text-align: center;font-size: 27px;color: #D1071A;font-family: 'Kalpurush', sans-serif;width: 210px;height: 151px;
    display: block;margin: 0 auto;background: url(https://res.cloudinary.com/greenprinty/image/upload/v1610866789/CUBE/backh2_zfrvyl.png);background-repeat: no-repeat;margin-bottom: 30px;padding-top: 74px;
    animation: skew 2s infinite;  transform: skew(20deg);  animation-direction: alternate;}
   
    .sucu{background: url(https://res.cloudinary.com/greenprinty/image/upload/v1610866790/CUBE/bg_nrz5uv.jpg);border-radius: 26px}
    .subh{text-align: center;font-size: 24px;font-weight: bold;margin-bottom: 10px;height: 28px;color: white;
    font-family: 'Kalpurush', sans-serif;}
    .nai{text-align: center;color: #FDC400;font-family: 'Kalpurush', sans-serif;font-size: 20px;}
    .container{ 
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.countdown{    
    display: flex;
        margin-bottom: 30px;    
}

.countdown div{
    position: relative;
width: 80px;
height: 35px;
line-height: 35px;
text-align: center;
background: url(time.gif);
border-radius: 50px;
color: white;
margin: 0 5px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -26px;
left: 0;
width: 78px;
height: 25px;
background: #FDCA00;
color: black;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
    .prit{text-align: center;color:white;font-size: 24px;font-weight: bold;font-family: 'Kalpurush', sans-serif;
    width: 170px;height:28px;margin: 10px auto;border-radius: 23px; }
    .eg{text-align: center;color:#FDC400;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 7px}
    .stha{text-align: center;color:white;font-size: 24px;font-weight: bold;font-family: 'Kalpurush', sans-serif;
    width: 120px;height:28px;margin: 10px auto;border-radius: 23px;}
    .cu{text-align: center;color:#FDC400;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 20px;}
    .swipe{text-align: center;font-size: 15px;color: white;background: black;padding: 3px}
    #namo{display: block;margin: 0 auto;width: 200px;padding-top: 100px}
    footer{position: relative;top: 230px;
    width: 100%;
    height: 100px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
        }

  footer p{
      text-align: center;
      padding: 10px;
      color: white;
        }  
        a button{width: 100px;height: 30px;border-radius: 16px;background: #03B807;color: white;letter-spacing: 1.5px;font-size: 17px;border: none;}
